//fonts
$Georgia: 'Georgia', arial, serif;
$Pt: 'PT Sans Narrow', arial, sans-serif;

//color
$brand-color: #aa62f4;
$dkgrey: #303032;
$grey: #9297a3;
$blue: #9fcede;

//media
$first-media: 1030px;
$second-media: 777px;
$third-media: 590px;

//transition
$anim: .3s;
